fastapi
uvicorn[standard]
python-multipart

pymupdf
pdfplumber

langchain
llama-index
tqdm
pydantic
requests

# Optional LLM tools
sentence-transformers
llama-cpp-python

# File & data handling
numpy
pandas

# CORS support
aiofiles
